<!DOCTYPE html>
<html data-ng-app="myApp" >
<head>
  <script src="bower_components/angular/angular.js" type="text/javascript"></script>
  <script src="bower_components/angular-route/angular-route.js" type="text/javascript"></script>
  <script src="App/app.js" type="text/javascript"></script>

  <title>Using AngularJS</title>
</head>
<body>

  <div>
    <div data-ng-view></div>
<!--     Name: 
    <br/>

    <input type="text" data-ng-model="name" /> {{ name }}
    <br>

    <h3>Looping with ng-repeat Directive </h3>
    <ul>
      <li data-ng-repeat="person in people | filter:name | orderBy:'city'"> {{ person.name }} - {{person.city }} </li>
    </ul> -->
  </div> 


</body>
</html>
